/* ********************************** */
/*HEADER*/
/* ********************************** */

.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 5.1rem;
}

.nav-links {
	margin-right: 3.6rem;
	padding-bottom: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.1rem;
	letter-spacing: -0.02em;
	text-align: left;
	text-decoration: none;
	color: #2b353e;
}

.nav-links:hover {
	border-bottom: 2px solid #2b353e;
	transition: all 100ms;
}

.nav-button {
	padding: 1.3rem 1.8rem 1.3rem 1.8rem;
	color: white;
	background-color: #1bc68f;
	border-radius: 24px;
	font-size: 1.4rem;
	margin: 0;
}

/* ********************************** */
/*HERO SECTION*/
/* ********************************** */

.hero-section {
	height: auto;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 9.8rem;
	padding-bottom: 9.8rem;
}

.Hero-heading-left {
	margin-bottom: 10rem;
}
.hero--heading {
	margin: 0;
	font-size: 7.5rem;
	font-weight: 600;
	text-align: left;
	line-height: 120%;
	letter-spacing: -0.02rem;
	color: #012a76;
}

.hero-para {
	margin: 3.2rem 0 5.2rem 0;
	width: 54.2rem;
	height: 2.9rem;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 120%;
	/* identical to box height, or 29px */
	letter-spacing: -0.02em;
}

.hero--img {
	height: 52.4rem;
}

.tif-button,
.gad-button {
	padding: 1.8rem 3.8rem 1.8rem 3.8rem;
	border-radius: 39px;
	font-size: 1.6rem;
}

.tif-button {
	color: white;
	background-color: #1bc68f;
}

.gad-button {
	border: 1.5px solid #1bc68f;
	margin-left: 3rem;
}

.gad-button:hover {
	background-color: rgba(27, 198, 144, 0.2);
	transition: all 0.2s;
}

/* ********************************** */
/*MIDDLE SECTION*/
/* ********************************** */

.middle-section {
	background-color: #fff;
	padding: 9rem 6rem 14.5rem 6rem;
}

.middle--section-paragraph {
	margin: 1.4rem 0 2rem 0;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	max-width: 65.8rem;
	font-size: 1.8rem;
	line-height: 4rem;
	font-weight: 400;
}

.middle--section-image {
	width: 100%;
	margin-right: -18rem;
	/* margin: auto 0 auto 0; */
}

/* ********************************** */
/*CTA Section*/
/* ********************************** */

.CTA-image {
	max-width: 85%;
}

.CTA-section {
	background-color: #292742;
	max-width: 100%;
	padding: 9.2rem 0 11.7rem 0;
}

.CTA--heading {
	max-width: 52.9rem;
	max-height: 300rem;
	font-size: 6.2rem;
	line-height: 8.4rem;
	color: #fff;
}

.CTA--description {
	margin: 3rem 0 3rem 0;
	max-width: 52.9rem;
	color: #fff;
	font-weight: 500;
	font-size: 2rem;
	line-height: 4.8rem;
}

.CTA-gad--button {
	background-color: #fff;
}

.CTA-gad--button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.line-break {
	width: 16.9rem;
	height: 1px;
	color: #708991;
	background-color: #708991;
	margin-top: 8.8rem;
}
.CTA--rating {
	max-width: 45.8rem;
	margin-top: 4.8rem;
	align-items: flex-start;
}
.rating--text {
	color: white;
	font-weight: 300;
	margin-left: 2.2rem;
	font-size: 2rem;
	line-height: 3.4rem;
}
